@import '../abstracts/variables';

@mixin btn-gradient($color) {
    background: linear-gradient(240deg, $color, rgba($color, .4));
    color: #fff !important;
    border: 0 !important;
    transition: .4s all !important;

    &:hover {
        opacity: .7;
    }
}

.btn-gd-success {
    @include btn-gradient($green);
}

.btn-gd-warning {
    @include btn-gradient($orange);
}

.btn-gd-info {
    @include btn-gradient($blue);
}
